<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<h1>Welcome to HomeMixology!</h1>
<h2>Pick your poison!</h2>

<img src="https://www.thecocktaildb.com/images/ingredients/vodka-medium.png">
<hr>
<ion-button routerLink="/vodka">Vodka</ion-button>
<hr>
<img src="https://www.thecocktaildb.com/images/ingredients/rum-medium.png">
<hr>
<ion-button routerLink="/rum" >Rum</ion-button>
<hr>
<img src="https://www.thecocktaildb.com/images/ingredients/whiskey-medium.png">
<hr>
<ion-button routerLink="/whiskey">Whiskey</ion-button>
<hr>
<img src="https://www.thecocktaildb.com/images/ingredients/tequila-medium.png">
<hr>
<ion-button routerLink="/tequila">Tequila</ion-button>
<hr>
<img src="https://www.thecocktaildb.com/images/ingredients/gin-medium.png">
<hr>
<ion-button routerLink="/gin">Gin</ion-button>


