<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>Vodka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vodka</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Vodka Cocktails</h1>
  <img src="https://www.thecocktaildb.com/images/media/drink/qyxrqw1439906528.jpg/medium">
  <h3>Vodka Martini</h3>
</ion-content>


